/* Important stuff here! Look at the bottom!!! (Line 133 to 136) */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    box-shadow: var(--nav-shadow);
    opacity: calc((100 - var(--scroll))/100);
}

nav .logo {
    color: #fff;
    font-size: 22px;
    font-family: "Playfair Display", serif;
    font-weight: 100;
}

nav ul {
    --padding: 20px;
    --font-size: 17px;

    list-style: none;
    display: flex;
    align-items: center;
    font-size: var(--font-size);
    overflow-y: hidden;
    transition: 1s cubic-bezier(.68, -0.55, .27, 10.55);
    box-shadow: var(--nav-shadow);
}

nav ul li {
    padding: var(--padding);
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    position: relative;
}

nav ul li a::after {
    content: "";
    width: 0%;
    height: 1.7px;
    border-radius: 99px;
    background: var(--main-clr);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

nav ul li a:hover::after {
    width: 100%;
}

nav .menu {
    width: 22px;
    height: 16px;
    cursor: pointer;
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin: 20px;
}

nav .menu span {
    width: 100%;
    height: 2px;
    border-radius: 99px;
    background: #fff;
    transition: 0.3s ease;
    transform-origin: left;
}



nav .menu.active span:nth-child(1) {
    transform: rotate(40deg);
}

nav .menu span:nth-child(3) {
    transform-origin: left;
}

nav .menu.active span:nth-child(3) {
    transform: rotate(-40deg);
}

nav .menu.active span:nth-child(2) {
    transform: scale(0);
}

#nav.active {
    background-color: rgba(0, 0, 0, 0.7);

}

@media (max-width: 910px) {
    nav .menu {
        display: flex;
    }

    nav ul {
        --height: 0px;

        flex-direction: column;
        position: absolute;
        width: 100%;
        left: 0;
        top: 56px;
        height: var(--height);
        transition: 1s cubic-bezier(.68, -0.55, .27, 1.55);
    }

    nav ul.active {
        --height: calc((((var(--padding) * 2) + (var(--font-size) * 1.5))) * var(--childenNumber));
        /*   (Block Level Padding + The Font Size) * The Number of Children   */


        transition: 1s ease;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        width: 100%;
        text-transform: capitalize;
    }
}