

body{
    font-family: 'Montserrat', sans-serif;
}
main{
    /*background: url('assets/gb-effect-points.png') top no-repeat,url('assets/bg-effect-shape.png') bottom no-repeat, transparent linear-gradient(352deg, #3775AE 0%, #14181C 100%) 0% 0% no-repeat padding-box;*/
    background: url('assets/gb-effect-points.png') top repeat,url('assets/bg-effect-shape.png') bottom repeat, transparent linear-gradient(352deg, #000000 50%, #000000 50%) 0% 0% no-repeat padding-box;
    background-size: 300%;
}
@media (min-width: 768px) { 
    main{
        background-size: 120%;
    }
    
}
.dot {
    height: 0.8rem;
    width: 0.8rem;
    background-color: #3775AE;
    border-radius: 50%;
    display: inline-block;
    margin-right: 1rem;
}
#main{
    /*background: transparent url('assets/bg-main.png') 0% 0% no-repeat padding-box;*/
    background: url(assets/bg-main.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.btn-warning { background-color: #F6AF26;border-color: #F6AF26; }
.btn-outline-warning {border-color: #F6AF26; }
.btn-outline-warning:hover { background-color: #F6AF26;border-color: #F6AF26; }
.text-warning { color: #F6AF26; }

.sh-social-holder{
    position: relative;
    right:-2.5rem;
    transition: right 0.2s
}
.sh-social-holder:hover{
    right:0;
    transition: right 0.2s
}
.sh-social-holder-mobile{
    position: relative;
    right:0;
    transition: right 0.2s
}
/*@media (max-width: 768px) { 
    .sh-social-holder{
        right:0;
    }
    
}*/
.sh-screen-big{
    background-image: url('assets/screen-big.png');
    background-size: contain;
    background-repeat: no-repeat;
    border:1px solid red;


}
.sh-content-big{
    background-image: url('assets/screenshot1_full.png');
    background-size: contain;
    background-repeat: no-repeat;

    display: flex;height: 75%;width:75%;
    margin-left: 10rem;
    margin-bottom: 10rem;
}
.sh-content-mid{
    background-image: url('assets/screenshot2_full.png');
    background-size: contain;
    background-repeat: no-repeat;

    display: block;height: 100%;width:100%;
    transform: translate(100%,30%);
}

.img-phone-qr-code {
    /*display: none;*/
    padding-top: 14rem; padding-left: 7rem;
}

@media (max-width: 768px) {
    .sh-content-big{
        background-image: url('assets/screenshot1_full.png');
        background-size: contain;
        background-repeat: no-repeat;

        display: block;height: 60%;width:80%;
        margin-left: 1rem;
        margin-bottom: 0rem;
    }

    .sh-content-mid{
        display: block;height: 60%;width:50%;
        transform: translate(100%,30%);
    }

    .img-phone-qr-code {
        /*display: none;*/
        padding-top: 0rem; padding-left: 0rem;
    }
}



#menu_list{
    position:fixed;
    transition:right 0.2s
}
.sh-show-nav{
    right:10%;
}
.sh-hide-nav{
    right:-50%;
}

.btn-style-primary{
    background: #3775AE 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 10px #2DABD229;
    border: 3px solid #3775AE;
    border-radius: 16px;
    opacity: 1;

    font: normal normal normal 25px/30px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;

    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}

.btn-style-outline {
    background: #001220 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 10px #4492D629;
    border: 3px solid #4285B9;
    border-radius: 16px;
    opacity: 1;

    font: normal normal normal 25px/30px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;

    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}

.top-menu-bar .top-menu-bar-menuitem:hover {
    text-decoration: none;  border-bottom: 3px solid #3775AE;
    color: #3775AE;
}

.top-menu-bar .top-menu-bar-menuitem {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.top-menu-bar a {
    text-decoration: none;  border-bottom: 3px solid #777777;
    color: #C8C2C2;
    font: normal normal normal 20px/24px Roboto;
    letter-spacing: 0px;
    opacity: 1;
}

.top-menu-bar {
    margin-right: 11rem;
    margin-top: 0.7rem;
    margin-bottom: 1.4rem;
}

nav {
    margin-top: 5.063rem;
}

.logo-desktop {
    margin-left: 8.063rem;
}

.home-desktop {
    padding-left: 8.8rem;
}

h1 {
    font-family: 'Montserrat';
    font-size: 3.063rem;
    font-weight: 800;
}

h2 {
    font-family: 'Montserrat';
    font-size: 3.063rem;
    font-weight: 700;
}

h3 {
    font-family: 'Montserrat';
    font-size: 3.125rem;
    font-weight: 300;
}

.normal-p-tag {
    font-family: 'Montserrat';
    font-weight: 100;
    font-size: 1.438rem;
}

.normal-p-description {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 1.75rem;
}

.normal-p-description-thin {
    font-family: 'Montserrat';
    font-weight: 100;
    font-size: 1.75rem;
}

.footer-menu-item {

    font-size: 1.563rem;
}
